/* src/components/Discussable/DiscussionDetailPage.css */

.discussion-detail-container {
  padding: 20px;
  border: 2px solid #E0E0E0;
  border-radius: 10px;
  background-color: #000;
  color: #E0E0E0;
  max-width: 700px;
  margin: 20px auto;
}

.discussion-info, .comment-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-details {
  flex-grow: 1;
}

.vote-buttons {
  margin-top: 10px;
}

.comment {
  background-color: #222;
  border: 1px solid #E0E0E0;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.new-comment-form textarea, button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}

button {
  background-color: #333;
  color: #E0E0E0;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #444;
}

@media (max-width: 768px) {
  .discussion-info, .comment-details {
    flex-direction: column;
  }

  .vote-buttons, .new-comment-form button {
    align-self: center;
  }

  .word-piechart {
    margin-top: 20px;
    width: 100%;
    max-width: 300px; /* Adjust the maximum width of the pie chart for smaller screens */
  }
}
