/* src/components/Discussable/DiscussionsListPage.css */
.discussions-list-container {
  padding: 20px;
  border: 2px solid #E0E0E0;
  border-radius: 10px;
  background-color: #000;
  color: #E0E0E0;
  max-width: 700px;
  margin: 20px auto;
}

.discussion {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #222;
  border: 1px solid #E0E0E0;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 10px;
}

.word-piechart {
  width: 100px; /* Adjust based on desired size */
  height: 100px; /* Adjust based on desired size */
  flex-shrink: 0; /* Prevents the chart from shrinking */
}

.word-piechart svg {
  width: 100%;
  height: auto;
}

.discussion h3,
.link {
  color: #E0E0E0;
  cursor: pointer;
  transition: color 0.3s;
}

.discussion h3:hover,
.link:hover {
  color: #FFF; /* Lighter color on hover for visibility */
}

.discussion p {
  margin: 5px 0;
}

/*button {*/
/*  !*padding: 10px 20px;*!*/
/*  !*background-color: transparent;*!*/
/*  !*color: #E0E0E0;*!*/
/*  !*border: 2px solid #E0E0E0;*!*/
/*  !*border-radius: 25px;*!*/
/*  !*font-size: 1rem;*!*/
/*  !*font-weight: 500;*!*/
/*  !*transition: background-color 0.3s, color 0.3s, border-color 0.3s;*!*/
/*  !*cursor: pointer;*!*/
/*}*/

/*button:hover {*/
/*  !*background-color: #E0E0E0;*!*/
/*  !*color: #000;*!*/
/*  !*border-color: transparent;*!*/
/*}*/

.hidden-content {
  color: #999;
  background-color: #f0f0f0;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .discussion {
    flex-direction: column;
    align-items: flex-start;
  }

  .word-piechart {
    align-self: center; /* Center the pie chart on smaller screens */
    margin-top: 10px; /* Adds some space above the pie chart on smaller screens */
  }

  .discussions-list-container {
    width: 90%;
    margin: 20px auto;
  }
}
